@page "/Czekam/{KodPaczki?}"
@model PaczkaOnline.Web.Pages.CzekamModel
@{
    ViewData["Title"] = "Czekam na paczkę";
}

<div class="row my-4">
    <div class="col">
        <div class="jumbotron bg-dark">

            @if (RouteData.Values["KodPaczki"] == null)
            {
                <h3 class="text-white display-4">Wprowadź kod paczki:</h3>
                <form method="post">
                    <div class="form-group">
                        <label for="KodPaczki2" class="text-white">Kod paczki:</label>
                        <input type="text" class="form-control" id="KodPaczki2" name="KodPaczki2" aria-describedby="KodPaczki2Pomoc" placeholder="Twój kod paczki">
                        <small id="KodPaczki2Pomoc" class="form-text text-light">Kod, który otrzymałeś od osoby, która wysyła do Ciebie przedmiot.</small>
                    </div>

                    <button class="btn btn-success" type="submit">Sprawdź</button>
                </form>
            }
            else if (Model.Paczka != null)
            {
                <div class="text-white">
                    <h1 class="display-4 text-white font-weight">Znaleziona paczka - @Model.Paczka.Id</h1>
                    <h1 class="display-5 text-white font-weight">Wysłana @Model.Paczka.CzasNadania</h1>
                    <h1 class="display-5 text-white font-weight">

                        @if (Model.Paczka.Lokalizacja.Trim() == "0")
                        {
                            <span>Oczekuje na pobranie przez kuriera</span> }
                        else
                        {
                            <span>Paczka obecnie jest w</span>
                            <h3>@ViewData["Adres"]</h3>
                            <h3>@ViewData["Miasto"], @ViewData["Wojewodztwo"]</h3>
                        }
                    </h1>
                    <h1 class="display-4 text-white font-weight">Została wysłana do:</h1>
                    <h1 class="display-5 text-white font-weight">@Model.Paczka.Ulica/@Model.Paczka.Lokal</h1>
                    <h1 class="display-5 text-white font-weight">@Model.Paczka.KodPocztowy, @Model.Paczka.Miasto</h1>
                    <hr class="my-4">
                    <a class="btn btn-outline-light mt-4 biala-ramka font-weight-bold cien" href="/">Powrót</a>
                </div>
            }
            else
            {
                <h1 class="display-4 text-white font-weight">Niestety nie mamy twojej paczki w systemie. </h1>
            }
        </div>
    </div>
</div>

