@page "/Czekam/{KodPaczki?}"
@model PaczkaOnline.Web.Pages.CzekamModel
@{
    ViewData["Title"] = "Czekam";
}

<div class="row my-4">
    <div class="col">
        <div class="jumbotron bg-dark">

            @if (RouteData.Values["KodPaczki"] == null)
            {
                <h3 class="text-white display-4">Wprowadź kod paczki:</h3>
                <form method="post">
                    <div class="form-group">
                        <label for="KodPaczki2" class="text-white">Kod paczki:</label>
                        <input type="text" class="form-control" id="KodPaczki2" name="KodPaczki2" aria-describedby="KodPaczki2Pomoc" placeholder="Twój kod paczki">
                        <small id="KodPaczki2Pomoc" class="form-text text-light">Kod, który otrzymałeś od osoby, która wysyła do Ciebie przedmiot.</small>
                    </div>

                    <button class="btn btn-success" type="submit">Sprawdź</button>
                </form>
            }
            else
            {
                <div class="text-white">
                    <h1 class="display-4 text-white font-weight">Znaleziona paczka - @RouteData.Values["KodPaczki"]</h1>
                    <h1 class="display-5 text-white font-weight">Wysłana @ViewData["CzasNadania"]</h1>
                    <h1 class="display-5 text-white font-weight">Paczka obecnie jest w 
                    @if (@ViewData["Lokalizacja"].ToString() == "0")
                    {<span>Oczekuje na wysłanie</span> }
                    else { @ViewData["Miasto"] }</h1>
                    <h1 class="display-4 text-white font-weight">Została wysłana do:</h1>
                    <h1 class="display-5 text-white font-weight">@ViewData["MiastoCel"]</h1>
                    <h1 class="display-5 text-white font-weight">@ViewData["KodPocztowy"]</h1>
                    <h1 class="display-5 text-white font-weight">@ViewData["Ulica"]</h1>
                    <h1 class="display-5 text-white font-weight">@ViewData["Lokal"]</h1>
                    <hr class="my-4">
                    <a class="btn btn-outline-light mt-4 biala-ramka font-weight-bold cien" href="/">Powrót</a>


                </div>
            }
        </div>
    </div>
</div>

